<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sentum.evidencecomprehensive.infrastructure.mapper.PdfEditResultMapper">
    
    <delete id="deletePdfEditResultByPaperIdAndQuestionId">
        DELETE FROM pdf_edit_result
        <where>
            <if test="paperId!=null and '' !=paperId">and  paper_id = #{paperId}</if>
            <if test="questionId!=null and '' !=questionId">and question_id = #{questionId}</if>
        </where> 
    </delete>
    
    <select id="selectPdfEditResultByPaperIdAndQuestionId" resultType="com.sentum.evidencecomprehensive.pojo.dto.entity.PdfEditResult">
        SELECT * FROM pdf_edit_result
        <where>
            <if test="paperId!=null and '' !=paperId">and  paper_id = #{paperId}</if>
            <if test="questionId!=null and '' !=questionId">and question_id = #{questionId}</if>
        </where> 
    </select>
</mapper>