[submodule "项目代码/循证药品综合评价"]
	path = 项目代码/循证药品综合评价
	url = git@gitee.com:medicine_novo_beijing/sentum-evimed-evidence-comprehensive.git
	branch = dev-20250630-循证-周一
[submodule "项目代码/循证药品综合评价agent"]
	path = 项目代码/循证药品综合评价agent
	url = git@gitee.com:medicine_novo_beijing/new-evidence-based-agent.git
	branch = 2026-04-07-agent-开发
[submodule "项目代码/药品遴选"]
	path = 项目代码/药品遴选
	url = git@gitee.com:medicine_novo_beijing/evaluation.git
	branch = dev-20260630-全部替换-deepseek尝试
[submodule "项目代码/超说明书用药"]
	path = 项目代码/超说明书用药
	url = git@gitee.com:medicine_novo_beijing/sentum-evimed-evidence-comprehensive.git
	branch = dev-20240328-chaoshuoms
[submodule "项目代码/安全性分析"]
	path = 项目代码/安全性分析
	url = git@gitee.com:medicine_novo_beijing/sentum-evimed-pharmacovigilance.git
	branch = release
[submodule "项目代码/meta"]
	path = 项目代码/meta
	url = git@gitee.com:medicine_novo_beijing/automatic-meta-service.git
	branch = codex/metaagent-iteration-covid
[submodule "项目代码/孟德尔随机化"]
	path = 项目代码/孟德尔随机化
	url = git@gitee.com:zwan7221/evimed-mr-agent.git
	branch = main
[submodule "项目代码/论文审稿"]
	path = 项目代码/论文审稿
	url = git@gitee.com:zwan7221/evimed-peer-review-agent.git
	branch = main
[submodule "项目代码/文献剂量分析"]
	path = 项目代码/文献剂量分析
	url = git@gitee.com:zwan7221/evimed-bibliometric-agent.git
	branch = main
[submodule "项目代码/科研选题"]
	path = 项目代码/科研选题
	url = git@gitee.com:zwan7221/evimed-research-topic-agent.git
	branch = main
[submodule "项目代码/药物安全分析agent"]
	path = 项目代码/药物安全分析agent
	url = git@gitee.com:zwan7221/evimed-drug-safety-agent.git
	branch = main
[submodule "记忆模块"]
	path = 记忆模块
	url = git@gitee.com:zwan7221/evimed-memory-service.git
	branch = main
