<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sentum.evidencecomprehensive.mapper.PaperInfoMapper">


    <select id="getPaperContentsByPaperIdAndQuestionId"
            resultType="com.sentum.evidencecomprehensive.domain.entity.paper.PaperInfo">
        select id, paper_id, question_id, info_id, content, pdf_url, title
        from paper_info where 1 = 1
        <if test="paperId !=null and '' !=paperId">AND paper_id =#{paperId}</if>
        <if test="questionId !=null and '' !=questionId">AND question_id =#{questionId}</if>
    </select>
    
</mapper>